.blog {
  display: flex;
  background-color: #ececec;

  min-height: 100vh;

  align-content: center;
}

.blog__title {
  text-align: center;
}

.blog__description {
  text-align: center;
}

.blog > .container {
  padding-right: 30px;
  padding-left: 30px;
}

.blog-item__image {
  overflow: hidden;

  padding: 0;
}

.blog-item__image img {
  width: 100%;
  transition: filter 0.5s, transform 0.5s;

  filter: saturate(0.75);
}

.blog-item__post {
  position: relative;
  z-index: 0;

  padding-top: 15px;
  padding-bottom: 15px;

  background-color: #fefefe;
}

.blog-item__post::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: "";
  transition: background-color 0.25s;
}

.blog-item__date {
  margin: 15px 0;

  color: #6e6e6e;

  font-size: 0.875rem;
}

.blog-item__excerpt {
  color: #545454;

  font-size: 0.875rem;
}

.blog-item__link:hover .blog-item__image img,
.blog-item__link:focus .blog-item__image img {
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);

  -webkit-filter: saturate(1.5);
  filter: saturate(1.5);
}

.blog-item__link:hover .blog-item__post::before,
.blog-item__link:focus .blog-item__post::before {
  background-color: #ee3b24;
}

.blog-item__link:hover .blog-item__title,
.blog-item__link:focus .blog-item__title {
  color: #fefefe;
}

.blog-item__link:hover .blog-item__date,
.blog-item__link:focus .blog-item__date {
  color: #fefefe;
}

.blog-item__link:hover .blog-item__excerpt,
.blog-item__link:focus .blog-item__excerpt {
  color: #fefefe;
}

@media (min-width: 768px) {
  .blog__description {
    margin-bottom: 45px;
  }

  .blog-item__excerpt {
    margin: 15px 0 0;
  }
}

@media (min-width: 992px) {
  .blog {
    padding-top: 105px;
    padding-bottom: 90px;
  }

  .blog__title {
    margin: 0 0 45px;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  .blog {
    padding-top: 105px;
    padding-bottom: 75px;
  }

  .blog__title {
    margin: 0 0 37.5px;
  }
}

@media (max-width: 767.8px) {
  .blog__description {
    margin-bottom: 30px;
  }

  .blog-item__image img {
    margin-top: -10%;
    margin-bottom: -35%;
  }
  .blog-item__excerpt {
    margin: 15px 0 30px;
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  .blog {
    padding-top: 90px;
    padding-bottom: 60px;
  }

  .blog__title {
    margin: 0 0 30px;
  }
}

@media (max-width: 575.8px) {
  .blog {
    padding-top: 90px;
    padding-bottom: 45px;
  }

  .blog__title {
    margin: 0 0 22.5px;
  }
}
