.blog {
  background-color: #ececec;

  @extend %section;

  &__title {
    @extend %section-title;
  }

  &__description {
    @extend %section-description;
  }

  > .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.blog-item {
  &__image {
    overflow: hidden;

    padding: 0;

    img {
      width: 100%;

      transition: filter 0.5s, transform 0.5s;

      filter: saturate(0.75);
    }
  }

  &__post {
    position: relative;
    z-index: 0;

    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #fefefe;

    &::before {
      z-index: -1;

      content: "";
      transition: background-color 0.25s;

      @include abs-position;
    }
  }

  &__date {
    margin: 15px 0;

    color: #6e6e6e;

    font-size: 0.875rem;
  }

  &__excerpt {
    color: $color-gray;

    font-size: 0.875rem;
  }

  &__link {
    &:hover,
    &:focus {
      .blog-item__image img {
        transform: scale(1.25);

        filter: saturate(1.5);
      }
      .blog-item__post::before {
        background-color: $color-accent;
      }
      .blog-item__title {
        color: $color-light;
      }
      .blog-item__date {
        color: $color-light;
      }
      .blog-item__excerpt {
        color: $color-light;
      }
    }
  }
}

@media (min-width: 992px) {
  .blog {
    padding-top: 105px;
    padding-bottom: 90px;

    &__title {
      margin: 0 0 45px;
    }
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  .blog {
    padding-top: 105px;
    padding-bottom: 75px;

    &__title {
      margin: 0 0 37.5px;
    }
  }
}

@media (min-width: 768px) {
  .blog__description {
    margin-bottom: 45px;
  }

  .blog-item__excerpt {
    margin: 15px 0 0;
  }
}

@media (max-width: 767.8px) {
  .blog__description {
    margin-bottom: 30px;
  }

  .blog-item__image img {
    margin-top: -10%;
    margin-bottom: -35%;

    &__excerpt {
      margin: 15px 0 30px;
    }
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  .blog {
    padding-top: 90px;
    padding-bottom: 60px;

    &__title {
      margin: 0 0 30px;
    }
  }
}

@media (max-width: 575.8px) {
  .blog {
    padding-top: 90px;
    padding-bottom: 45px;

    &__title {
      margin: 0 0 22.5px;
    }
  }
}
