.contacts {
  display: flex;

  min-height: 100vh;

  align-content: center;
}

.contacts__title {
  text-align: center;
}

.contacts__description {
  text-align: center;
}

@media (min-width: 768px) {
  .contacts__description {
    margin-bottom: 45px;
  }
}

@media (min-width: 992px) {
  .contacts {
    padding-top: 105px;
    padding-bottom: 90px;
  }

  .contacts__title {
    margin: 0 0 45px;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  .contacts {
    padding-top: 105px;
    padding-bottom: 75px;
  }
  .contacts__title {
    margin: 0 0 37.5px;
  }
}

@media (max-width: 767.8px) {
  .contacts__description {
    margin-bottom: 30px;
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  .contacts {
    padding-top: 90px;
    padding-bottom: 60px;
  }

  .contacts__title {
    margin: 0 0 30px;
  }
}

@media (max-width: 575.8px) {
  .contacts {
    padding-top: 90px;
    padding-bottom: 45px;
  }
  .contacts__title {
    margin: 0 0 22.5px;
  }
}
