.features {
  background-color: #e5e5e5;
}
.features {
  display: flex;
  align-content: center;

  min-height: 100vh;
}

.features__title {
  text-align: center;
}

.features__description {
  text-align: center;
}
.feature {
  margin-bottom: 7.5px;
  padding-top: 7.5px;
}

.feature__title {
  text-align: center;
}

.feature__description {
  text-align: center;
}

@media (min-width: 992px) {
  .features {
    padding-top: 105px;
    padding-bottom: 90px;
  }

  .features__title {
    margin: 0 0 45px;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  .features {
    padding-top: 105px;
    padding-bottom: 75px;
  }

  .features__title {
    margin: 0 0 37.5px;
  }
}

@media (min-width: 768px) {
  .features__description {
    margin-bottom: 45px;
  }

  .feature__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 90px;
    margin: 30px auto 60px;

    color: #ffffff;
    background: #ee3b24;

    font-size: 2rem;

    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}

@media (max-width: 767.8px) {
  .features__description {
    margin-bottom: 30px;
  }
  @media (max-width: 767.8px) {
    .feature__icon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 68px;
      height: 76.5px;
      margin: 25.5px auto 51px;

      color: #ffffff;
      background: #ee3b24;

      font-size: 1.5rem;

      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }
  }

  @media (max-width: 767.8px) and (min-width: 576px) {
    .features {
      padding-top: 90px;
      padding-bottom: 60px;
    }
    .features__title {
      margin: 0 0 30px;
    }
  }

  @media (max-width: 575.8px) {
    .features {
      padding-top: 90px;
      padding-bottom: 45px;
    }
    .features__title {
      margin: 0 0 22.5px;
    }
  }
}
