.about,
.features,
.gallery,
.blog,
.advantages__content,
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-height: 100vh;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
}

.about__title,
.features__title,
.gallery__title,
.blog__title,
.advantages__title,
.contacts__title {
  text-align: center;
}

.features__description,
.gallery__description,
.blog__description,
.advantages__description,
.contacts__description {
  text-align: center;
}

.gallery-item__wrapper {
  position: relative;

  overflow: hidden;

  min-height: 200px;
  max-height: 33.33vh;
}

.gallery-item__image {
  width: 100%;

  -webkit-transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.gallery-item__caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  text-align: center;

  opacity: 0;
  background-color: rgba(1, 1, 1, 0.75);
}

.gallery-item__title {
  position: absolute;
  right: 30px;
  bottom: -50%;
  left: 30px;

  margin-bottom: 0;

  -webkit-transition: bottom 0.5s;
  -o-transition: bottom 0.5s;
  transition: bottom 0.5s;

  color: #fefefe;

  font-weight: bold;
}

.gallery-item__link {
  position: relative;
  top: -50%;

  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  width: 45px;
  height: 45px;

  -webkit-transition: top 0.5s;
  -o-transition: top 0.5s;
  transition: top 0.5s;

  color: #fefefe;
  background-color: #ee3b24;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gallery-item__link:hover,
.gallery-item__link:focus {
  color: #fefefe;
}

.gallery-item:hover .gallery-item__image {
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
  transform: scale(1.8);
}

.gallery-item:hover .gallery-item__caption {
  opacity: 1;
}

.gallery-item:hover .gallery-item__title {
  bottom: 15%;
}

.gallery-item:hover .gallery-item__link {
  top: 15%;
}

@media (min-width: 576px) {
  .gallery .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }
  .gallery-item {
    padding: 0 5px 10px;
  }
}

@media (min-width: 768px) {
  .features__description,
  .gallery__description,
  .blog__description,
  .advantages__description,
  .contacts__description {
    margin-bottom: 45px;
  }
}

@media (min-width: 992px) {
  .about,
  .features,
  .gallery,
  .blog,
  .advantages__content,
  .contacts {
    padding-top: 105px;
    padding-bottom: 90px;
  }
  .about__title,
  .features__title,
  .gallery__title,
  .blog__title,
  .advantages__title,
  .contacts__title {
    margin: 0 0 45px;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  .about,
  .features,
  .gallery,
  .blog,
  .advantages__content,
  .contacts {
    padding-top: 105px;
    padding-bottom: 75px;
  }
  .about__title,
  .features__title,
  .gallery__title,
  .blog__title,
  .advantages__title,
  .contacts__title {
    margin: 0 0 37.5px;
  }
  .advantages .container-fluid {
    max-width: 720px;
  }
}

@media (max-width: 767.8px) {
  .features__description,
  .gallery__description,
  .blog__description,
  .advantages__description,
  .contacts__description {
    margin-bottom: 30px;
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  .about,
  .features,
  .gallery,
  .blog,
  .advantages__content,
  .contacts {
    padding-top: 90px;
    padding-bottom: 60px;
  }
  .about__title,
  .features__title,
  .gallery__title,
  .blog__title,
  .advantages__title,
  .contacts__title {
    margin: 0 0 30px;
  }
}
