.footer {
  font-size: 0.875rem;

  h3 {
    color: #cbcbcb;

    &::first-letter {
      color: $color-accent;
    }
  }

  ul {
    padding-left: 30px;

    list-style: none;
  }

  li {
    position: relative;

    &::before {
      position: absolute;

      margin-left: -30px;

      content: "\f30b";

      color: #b2b2b2;

      font-family: $font-icon;
      font-weight: 900;
    }
  }

  p {
    color: #b2b2b2;
  }

  a {
    color: #b2b2b2;

    &:hover,
    &:focus {
      color: $color-light;
    }
  }

  &__top {
    padding-top: 45px;
    padding-bottom: 30px;

    background-color: #282828;
  }

  &__bottom {
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: #343434;
  }
}
