.header-navbar .nav-link::after {
  position: absolute;
  bottom: 0;

  height: 0;

  content: "";

  opacity: 0;
  background-color: #fefefe;
}

.header-navbar .nav-item:not(.active):hover .nav-link,
.header-navbar .nav-item:not(.active):focus .nav-link {
  color: #fefefe;
}

.header-navbar .nav-item:not(.active):hover .nav-link::after,
.header-navbar .nav-item:not(.active):focus .nav-link::after {
  height: 3px;

  transition: bottom 0.5s, opacity 0.5s;

  opacity: 1;
}

.header-navbar--scrolled .active .nav-link::after {
  height: 3px;

  opacity: 1;
  background-color: #ee3b24;
}

.navbar-expand-lg .navbar-nav .nav-item {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 7.5px;
  padding-left: 7.5px;

  color: #fefefe;
}

.navbar-dark .navbar-toggler {
  border-color: rgba(254, 254, 254, 0.75);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.header-navbar {
  transition: background-color 0.5s, padding 0.25s;
}

.header-navbar .nav-link {
  position: relative;

  overflow: hidden;
}

.header-navbar--scrolled .active .nav-link {
  color: #ee3b24 !important;
  text-shadow: 0 0 1px #ee3b24;
}

@media (min-width: 992px) {
  .header-navbar .nav-link::after {
    left: 0;

    width: 100%;
  }
  .header-navbar .nav-item:not(.active):hover .nav-link::after,
  .header-navbar .nav-item:not(.active):focus .nav-link::after {
    bottom: 10px;
  }
  .header-navbar--scrolled .active .nav-link::after {
    bottom: 10px;
  }

  .header-navbar {
    padding: 15px 0;

    background-color: transparent;
  }
  .header-navbar .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header-navbar--scrolled {
    padding: 0;

    background-color: rgba(1, 1, 1, 0.85);
  }
}

@media (max-width: 991.8px) {
  .header-navbar .nav-link::after {
    left: 25%;

    width: 50%;
  }
  .header-navbar .nav-item:not(.active):hover .nav-link::after,
  .header-navbar .nav-item:not(.active):focus .nav-link::after {
    bottom: 4px;
  }
  .header-navbar--scrolled .active .nav-link::after {
    bottom: 4px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
  }
  .header-navbar {
    background-color: rgba(1, 1, 1, 0.85);
  }
}

@media (max-width: 991.8px) and (min-width: 576px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
